body {

	background-color: #fff;
	color: #202124;
	font-family: 'Lusitana', serif;
	font-size: 16px;

}

h1 {
	font-size: 36px;
	font-family: 'Quattrocento', serif;
	color: #202124;

}

p {
	color: rgb(86, 88, 87);

}

a {

	text-decoration: none;
	color: rgb(86, 88, 87);
}
a:hover {
	text-decoration: underline;
	color: rgb(86, 88, 87);
	
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 760px){
	.container {
		width: 600px;
	}
}

.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgb(172, 168, 133);
	padding: 40px;
	margin: 20px 0px;
	text-align: center;
}

.image-circle {
	border-radius: 50%;
	width: 100px;
}

.btn-blue {
	background-color: rgb(86, 88, 87);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: black;
}

#introduction p {
	margin-bottom: 30px;
}